<div class="form-body">
    <div class="row">
      <div class="form-holder">
        <div class="form-content">
          <div class="form-items">
            <h3>Cadastro de Unidade Escolar</h3>
            <form ngNativeValidate class="requires-validation" (submit)="this.submit($event)">
  
              <div class="col-md-12">
                <input class="form-control" type="text" name="nome" placeholder="Nome da Unidade" required [value]="this.ue.nomeEscola">
                <!-- <div class="valid-feedback">Username field is valid!</div>
                           <div class="invalid-feedback">Username field cannot be blank!</div> -->
              </div>
  
              <div class="col-md-12">
                <input class="form-control" type="text" name="endereco" placeholder="Endereço da Unidade" required [value]="this.ue.endereco.split(',')[0]">
                <br>
                <input class="form-control" type="number" name="endnum" placeholder="Nº" [defaultValue]="" required [value]="this.ue.endereco.split(',')[1]">
                <!-- <div class="valid-feedback">Email field is valid!</div>
                             <div class="invalid-feedback">Email field cannot be blank!</div> -->
              </div>
              <!-- 
              <div class="col-md-12">
                <input class="form-control" type="text" name="endereco" placeholder="Diretor" required>
  
              </div>
  
              <div class="col-md-12">
                <input class="form-control" type="text" name="endereco" placeholder="Coodernador" required>
  
              </div> -->
  
              <!-- <div class="col-md-12">
                <input class="form-control" type="password" name="password" placeholder="Password" required>
                <div class="valid-feedback">Password field is valid!</div>
                <div class="invalid-feedback">Password field cannot be blank!</div>
              </div> -->
  
              <div class="confirmar form-button mt-3 d-flex justify-content-center">
                <button id="submit" type="submit" class="btn btn-primary">Cadastrar</button>
              </div>
              <div class="cancelar form-button mt-3 d-flex justify-content-center">
                <button id="submit" (click)="this.rota.navigate(['/unidade_escolar'])" class="btn btn-primary">Cancelar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  