<div class="container">

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome do Aluno</th>
        <th scope="col">E-mail</th>
        <th scope="col">RGM</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Richarlison</td>
        <td>email@email.com</td>
        <td>1235</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Vini Jr</td>
        <td>email@email.com</td>
        <td>1454</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Neymar Jr</td>
        <td>email@email.com</td>
        <td>4545</td>
      </tr>
    </tbody>
  </table>

  <nav aria-label="Navegação de página exemplo">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
    </ul>
  </nav>
</div>
