<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Financeiro</title>
    <meta charset="utf-8">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 

  </head>
  <body>

    <div id="aluno-section">
        <div id="text-container">
            <p>MEU FINANCEIRO</p>
            <hr>
        </div>
    </div>

    <div id="financeiro-section">
        <div class="financeiro">
            <h2 class="destaque">BOLETOS</h2>
        </div>
    </div>
  </body>
</html>