@charset "UTF-8";

@font-face {
    font-family: 'Sora';
    src: url('../../assets/Sora-VariableFont_wght.ttf') format('truetype');
}

body {
    background-color: #ecf0f1;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

img {
    margin-top: 32px;
    margin-bottom: 20px;
    width: 200px;
    border-radius: 100%;
}

div {
    font-family: 'Sora', sans-serif;;
}

div#text-container {
    background-color: #c4c4c4;
    min-width: 315px;
    max-width: 1000px;
}

div#text-container > h1 {
    font-size: 1.3em;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
}

div#text-container > p {
    text-align: center;
    padding-left: 20px;
    padding-right: 25px;
}

div#text-container > p > a {
    background-color: gray;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
}

div#text-container > p > a:hover {
    color: lightskyblue;
}

h2 {
    font-size: 2em;
    font-weight: lighter;
}

h2.destaque {
    display: inline-block;
    background-color: #c4c4c4;
    padding: 3px 3px;
}

#aluno-section {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #c4c4c4;
    padding-bottom: 75%;
}

#financeiro-section{
    font-size: 9px;

    padding-right: 600px;
}

.financeiro {
    font-size: 9x;
    text-align: center;
    padding-bottom: 250px;
}

.ocorrencias {
    font-size: 9px;
    padding-bottom: 100px;
}
