<div class="form-body">
    <div class="row">
      <div class="form-holder">
        <div class="form-content">
          <div class="form-items">
            <div class="cancelar form-button mb-4 d-flex ">
              <button id="submit" (click)="this.rota.navigate(['/home'])" class="btn btn-primary">Voltar</button>
            </div>
            <div class="d-flex flex-row">
              <label style="font-size: xx-large;font-weight: 700 ;">Matriculas Pendentes</label>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th style="font-weight: 700 ;" scope="col">Id</th>
                  <th style="font-weight: 700 ;" scope="col">Nome</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let matricula of listaMatriculas">
  
                  <th scope="row">{{matricula.id}}</th>
                  <td>{{matricula.nomeAluno}}</td>
                  <td class="editar" (click)="this.rota.navigate(['visualizar_matricula/'+matricula.id])">Visualizar</td>
                  <td class="editar" (click)="this.aprovar(matricula.id)">aprovar</td>
  
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  