<html lang="eng">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contato</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  </head>
  <body>



    <main class="d-flex align-items-center min-vh-100">
      <div class="container">
        <div class="card login-card">
          <div class="row no-gutters">
            <div class="col-md-6">
              <div class="card-body">
                <p class="login-card-description mt-5">Entre em contato através dos números:</p>
                <form class="mt-5">
                  <p class="login-card-phone">(11) 4002-8922</p>
                  <p class="login-card-phone">(11) 1234-5678</p>
                  <p class="login-card-phone">(11) 9876-5432</p>
                  <p class="login-card-phone mt-5 mb-5">Confira nosso endereço ao lado.</p>
                  <div class="footer-text d-flex justify-content-center mt-5">
                    <p class="mb-md-0 mt-5">© Escola Polar - Todos os direitos reservados.</p>
                  </div>
                </form>
              </div>
              <!-- End card-body -->
            </div>
            <!-- End col-md-6 -->
            <div class="col-md-6">
              <div class="embed-responsive embed-responsive-1by1">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.9270819534854!2d-46.45504748514425!3d-23.499135784713705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce616eb6243fcb%3A0xf58f03b4a1ebef94!2sUniversidade%20Cruzeiro%20do%20Sul!5e0!3m2!1spt-BR!2sbr!4v1668734759225!5m2!1spt-BR!2sbr" width="600" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="">
      <div class="container">
        <div class="footer-content">
          <div class="row ">

            <div class="col-md-12 d-flex justify-content-center">
              <img src="../../assets/img/polo-bear-png.png" width="100" height="100" class="footer-logo">
            </div>
            <div class="col-md-12 d-flex justify-content-center">
              <div class="row mt-5 mb-5">
                <div class="col-md-12">
                  <p class="footer-intro-text"></p>
                  <nav class="footer-social-links">
                    <a routerLink='/home'>Home</a><!-- ajustei o caminho  -->
                  </nav>
                  <!-- tirei o vagas -->
                  <nav class="footer-social-links">
                    <a routerLink='/sobre'>Sobre</a><!-- ajustei o caminho  -->
                  </nav>
                  <nav class="footer-social-links">
                    <a routerLink='/contato'>Contato</a><!-- ajustei o caminho  -->
                  </nav>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="footer-text d-flex justify-content-center">
          <p class="mb-md-0">© Escola Polar - Todos os direitos reservados.</p>
        </div>
      </div>
    </footer>

  </body>
</html>

