<div class="form-body">
    <div class="row">
      <div class="form-holder">
        <div class="form-content">
          <div class="form-items">
            <h3>Cadastro de Ano letivo</h3>
            <form class="requires-validation" novalidate>
  
              <div class="col-md-12">
                <input class="form-control" type="text" name="ano" placeholder="Ano Letivo:" required>
              </div>
  
              <div class="col-md-12">
                <input class="form-control" type="text" name="descricao" placeholder="Descrição:" required>
              </div>
  
  
              <div class="col-md-12 mt-4">
                <label>Data de Início</label>
                <input class="form-control" type="date" name="dtInicio" placeholder="Descrição:" required>
              </div>
              <div class="col-md-12 mt-4">
                <label>Data de Término</label>
                <input class="form-control" type="date" name="dtFim" placeholder="Descrição:" required>
              </div>
  
              <div class="confirmar form-button mt-3 d-flex justify-content-center">
                <button id="submit" type="submit" class="btn btn-primary">Cadastrar</button>
              </div>
              <div class="cancelar form-button mt-3 d-flex justify-content-center">
                <button id="submit" (click)="this.rota.navigate(['/home'])" class="btn btn-primary">Cancelar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  