<div class="form-body">
  <div class="row">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <h3>Cadastro de Curso</h3>
          <form class="requires-validation" (submit)="this.submit($event)" novalidate>

            <div class="col-md-12">
              <input class="form-control" type="text" name="nome" placeholder="Titulo do Curso: " required>
              <!-- <div class="valid-feedback">Username field is valid!</div>
                           <div class="invalid-feedback">Username field cannot be blank!</div> -->
            </div>

            <!-- <div class="col-md-12">
              <select class="form-select mt-3" required>
                <option selected disabled value="">Modalidae do Curso: </option>
                <option value="1">Integral</option>
                <option value="2">Parcial</option>
              </select>
            </div> -->

            <div class=" col-md-12 d-flex flex-column mt-4">
              <label>Periodo Desejado: </label>
              <select class="form-select" required>
                <option *ngFor=" let periodo of periodos" value={{periodo.id}}>{{periodo.nomeTurno}}</option>
              </select>
            </div>

            <div class=" col-md-12 d-flex flex-column mt-4">
              <label>Unidade Escolar Desejada: </label>
              <select class="form-select" required>
                <option *ngFor=" let unidade of unidades" value={{unidade.id}}>{{unidade.nomeEscola}}</option>
              </select>
            </div>
            <!-- <div class="col-md-12">
                <input class="form-control" type="password" name="password" placeholder="Password" required>
                <div class="valid-feedback">Password field is valid!</div>
                <div class="invalid-feedback">Password field cannot be blank!</div>
              </div> -->

            <div class="confirmar form-button mt-3 d-flex justify-content-center">
              <button id="submit" type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
            <div class="cancelar form-button mt-3 d-flex justify-content-center">
              <button id="submit" (click)="this.rota.navigate(['/cursos'])" class="btn btn-primary">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
