<body class="center">
  <h2>Matrículas</h2>


  <div class="col-md-12">
    <div class="card border-0">
      <div class="card-body">
        <div>
          <form>

            <!--Nome -->
            <div>
              <span>Nome completo: </span>

            </div>

            <!--E-mail -->
            <div>


            </div>

            <!--RG-->
            <div>
              <span>RG: </span>

            </div>

            <!--CPF-->
            <div>
              <span>CPF: </span>
            </div>

            <!--Endereço-->
            <div>
              <span>Endereço: </span><br>
            </div>

            <!--Sexo-->
            <div>
              <span>Sexo: </span>
            </div>

            <!--Hitórico Escolar-->
            <div>
              <span>Hitórico Escolar: </span>

            </div>

            <!--Comprovante de residencia-->
            <div>
              <span>Comprovante de residencia: </span>

            </div>

            <!--Comprovante de renda-->
            <div>
              <span>Comprovante de renda: </span>

            </div>

            <!--Botão de enviar-->
            <button type="submit" id="ButtonRecusar">RECUSAR MATRÍCULA</button>
            <button type="submit" id="ButtonConcluir">CONCLUIR MATRÍCULA</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
