<div class="form-body">
  <div class="row">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <h3>Cadastro de Curso</h3>
          <form class="requires-validation" (submit)="this.submit($event)" novalidate>

            <div class="col-md-12">
              curso:
              <input class="form-control" type="text" name="nome" placeholder="Titulo do Curso: " required
                [value]="this.curso.nomeCurso">
            </div>

            <div class=" col-md-12 d-flex flex-column mt-4">
              <label>Periodo Desejado: </label>
              <select class="form-select" required>
                <option *ngFor=" let periodo of periodos" value={{periodo.id}} [selected]="periodo.id === periodoSelected">{{periodo.nomeTurno}}</option>
              </select>
            </div>

            <div class=" col-md-12 d-flex flex-column mt-4">
              <label>Unidade Escolar Desejada: </label>
              <select class="form-select" required>
                <option *ngFor=" let unidade of unidades" [selected]="unidade.id === periodoSelected" value={{unidade.id}}>{{unidade.nomeEscola}}</option>
              </select>
            </div>

            <div class="confirmar form-button mt-3 d-flex justify-content-center">
              <button id="submit" type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
            <div class="cancelar form-button mt-3 d-flex justify-content-center">
              <button id="submit" (click)="this.rota.navigate(['/cursos'])" class="btn btn-primary">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
