<div class="wrapper">
 
    <!-- Page Content  -->
    <div id="content">
  
      <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
      </nav> -->
      <div class="row d-flex">
          <div class="col-md-6">
            
            <div class="card border-0">
              <div class="card-body">
                <div class="col-md-12">
                  <h4 class="card-title mt-4">Faltas</h4>
                </div>
              </div>
            </div>
  
            <div class="card border-0">
              <div class="card-body">
                <div class="col-md-12">
                  <h4 class="card-title mt-4">Notas</h4>
                </div>
              </div>
            </div>
  
            <div class="card border-0">
              <div class="card-body">
                <div class="col-md-12">
                  <h4 class="card-title mt-4">Ocorrências</h4>
                </div>
              </div>
            </div>
  
            <div class="card border-0">
              <div class="card-body">
                <div class="col-md-12">
                  <h4 class="card-title mt-4">Boletos</h4>
                </div>
              </div>
            </div>
  
          </div>
        </div>
  
    </div>

  </div>
  