<div class="form-body">
  <div class="row">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <div class="cancelar form-button mb-4 d-flex ">
            <button id="submit" (click)="this.rota.navigate(['/home'])" class="btn btn-primary">Voltar</button>
          </div>
          <div class="d-flex flex-row">
            <label style="font-size: xx-large;font-weight: 700 ;">Unidades Cadastrados</label>
            <div class="ml-auto p-2">
              <label (click)="this.rota.navigate(['cadastroUE'])" class="adicionar"
                style="font-size: larger;font-weight: 700 ;">Cadastrar</label>
            </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th style="font-weight: 700 ;" scope="col">Id</th>
                <th style="font-weight: 700 ;" scope="col">Nome Unidade</th>
                <th style="font-weight: 700 ;" scope="col">End</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let unidade of listaUnidadeE">

                <th scope="row">{{unidade.id}}</th>
                <td>{{unidade.nomeEscola}}</td>
                <td>{{unidade.endereco}}</td>
                <td class="editar">Visualizar</td>
                <td (click)="this.remove(unidade.id)" class="editar">Remover</td>

              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
