<div class="form-body">
  <div class="row">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <div class="cancelar form-button mb-4 d-flex ">
            <button id="submit" (click)="this.rota.navigate(['/home'])" class="btn btn-primary">Voltar</button>
          </div>
          <div class="d-flex flex-row">
            <label style="font-size: xx-large;font-weight: 700 ;">Anos Letivos Cadastrados</label>
            <div class="ml-auto p-2">
              <label (click)="this.rota.navigate(['cadastro_ano_letivo'])" class="adicionar"
                style="font-size: larger;font-weight: 700 ;">Cadastrar</label>
            </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th style="font-weight: 700 ;" scope="col">Id</th>
                <th style="font-weight: 700 ;" scope="col">Ano</th>

                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>

                <th scope="row">1</th>
                <td>2020</td>
                <td class="editar">Editar</td>
                <td class="apagar ">Apagar</td>

              </tr>
              <tr>
                <th scope="row">2</th>
                <td>2021</td>
                <td class="editar">Editar</td>
                <td class="apagar ">Apagar</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>2022</td>
                <td class="editar">Editar</td>
                <td class="apagar ">Apagar</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
