<body>
  <div class="container fundo">


    <div class="row d-flex justify-content-center">
      <div class="col-md-6">

        <div class="form-group">
          <div class="inicio text-center">
            <!--  <img src="{{foto}}" class="img-fluid rounded-circle" alt="Foto usuário"> -->
          </div>

          <div class="col-md-12">
            <h1 class="text-center text-light mb-5">Nome Sobrenome</h1>
          </div>

          <label for="foto" class="titulo">Link foto de perfil:</label>
          <!--   <input [(ngModel)]='user.foto' class="form-control bg-dark text-white" type="text" name="foto" id="foto" placeholder="Sua Foto">
        </div> -->


          <div class="form-group">
            <label for="nome">RGM</label>
            <!--  <input [(ngModel)]='user.nome' class="form-control bg-dark text-white" type="text" name="nome" id="nome" placeholder="Seu nome">
        </div> -->

            <div class="form-group">
              <label for="usuario">E-mail</label>
              <!--  <input [(ngModel)]='user.login' class="form-control bg-dark text-white" type="text" name="usuario" id="usuario" placeholder="Seu email">
        </div> -->

              <div class="form-group">
                <label for="usuario">Telefone</label>
                <!--  <input (input)='confirmSenha($event)' class="form-control bg-dark text-white" type="number" name="senha" id="telefone" placeholder="Telefone">
        </div> -->

                <div class="form-group">
                  <label for="usuario">Curso: </label>
                  <!-- <input (input)='confirmSenha($event)' class="form-control bg-dark text-white" type="password" name="senha" id="confirmSenha" placeholder="Curso">
        </div> -->

                  <div class="form-group">
                    <label for="usuario">Turma: </label>
                    <!--  <input (input)='confirmSenha($event)' class="form-control bg-dark text-white" type="password" name="senha" id="confirmSenha" placeholder="Turma">
        </div> -->

                    <div class="form-group">
                      <label for="usuario">Período: </label>
                      <!--  <input (input)='confirmSenha($event)' class="form-control bg-dark text-white" type="password" name="senha" id="confirmSenha" placeholder="Período">
        </div> -->

                      <div class="form-group">
                        <label for="usuario">Campus: </label>
                        <!--  <input (input)='confirmSenha($event)' class="form-control bg-dark text-white" type="password" name="senha" id="confirmSenha" placeholder="Campus">
        </div> -->

                        <div class="form-group">
                          <label for="usuario">Senha</label>
                          <!--  <input (input)='confirmSenha($event)' class="form-control bg-dark text-white" type="password" name="senha" id="confirmSenha" placeholder="Sua senha">
        </div> -->

                          <div class="form-group">
                            <label for="usuario">Confirme sua senha</label>
                            <!--  <input [(ngModel)]='user.senha' class="form-control bg-dark text-white" type="password" name="senha" id="senha" placeholder="Sua senha">
        </div> -->

                            <div class="form-group">
                              <label for="usuario">Data de Nascimento</label>
                              <!--  <input [(ngModel)]='user.dataNascimento' class="form-control bg-dark text-white" type="date" name="dataNasc" id="dataNasc" placeholder="Data de Nascimento">
        </div> -->

                              <div class="form-group">
                                <label for="usuario">Tipo de usuário</label>
                                <!-- <select class="form-control bg-dark text-white" name="tipo" id="tipo"
                                  (change)='tipoUser($event)'> -->
                                <option>Selecione o tipo de usuário: </option>
                                <option value="adm">Administrador </option>
                                <option value="normal">Normal</option>
                                <!-- </select> -->
                              </div>

                              <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-danger mr-4" routerLink="/inicio">Cancelar</button>
                                <!--  <button type="submit" class="btn btn-success" (click)='atualizar()'>Atualizar</button>
        </div> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>]
</body>
