<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
</head>

<body>
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-6">
            <img src="../../../assets/img/loginImg.jpg" alt="login" class="login-card-img">
          </div>
          <div class="col-md-6">
            <div class="card-body">

              <p class="login-card-description">Entre na sua conta</p>
              <form>
                <div class="form-group">
                  <label for="email" class="sr-only">Email</label>
                  <input type="text" name="email" id="email" class="form-control" placeholder="Email"
                    [(ngModel)]="user.username" />
                </div>
                <div class="form-group mb-4">
                  <label for="password" class="sr-only">Senha</label>
                  <input type="password" name="senha" id="senha" class="form-control" placeholder="***********"
                    [(ngModel)]="user.senha" />
                </div>
                <input (click)="this.submit()" name="login" id="login" class="btn btn-block login-btn mb-4"
                  type="button" value="Login Aluno">
                <input (click)="this.submitFuncionario()" name="loginFunc" id="login"
                  class="btn btn-block login-btn mb-4" type="button" value="Login Funcionário">
              </form>

            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
</body>
