
  <body class="center">
    <h2>Cadastro de Curso</h2>
    <div>
      <form>

        <!--Titulo -->
        <div>
          <span>Titulo do Curso: </span>
          <input type="text" id="excecao" placeholder="Digite o nome do curso"/>
        </div>

        <!--Modalide -->
        <div>
          <span>Modalidae do Curso: </span>
          <select>
            <option></option>
            <option>Integral</option>
            <option>Parcial</option>
          </select>
        </div>

        <!--Período-->
        <div>
          <span>Periodo do Curso: </span>
          <select>
            <option></option>
            <option>Matutino</option>
            <option>Vespertino</option>
            <option>Noturno</option>
          </select>
        </div>

        <!--Tipo-->
        <div>
          <span>Quantidade de vaga </span>
          <div>
            <span>Comum: </span>
            <input type="number" id="excecaoQuantidade" placeholder="Numero"/>

            <span>Inclusiva: </span>
            <input type="number" id="excecaoQuantidade" placeholder="Numero"/>
          </div>
        </div>

        <!--Botão de enviar-->
        <button type="submit" id="ButtonFinalizar">CADASTRAR</button>
      </form> 
    </div>
  </body>

