<div class="form-body" *ngIf="AcessoId === 4 ">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <div class="cancelar form-button mb-4 d-flex ">
                        <button id="submit" (click)="this.rota.navigate(['/home'])"
                            class="btn btn-primary">Voltar</button>
                    </div>
                    <div class="d-flex flex-row">
                        <label style="font-size: xx-large;font-weight: 700 ;">Alunos da Disciplina</label>
                        <div class="ml-auto p-2">
                            <label (click)="this.rota.navigate(['listar_atividades'])" class="adicionar"
                                style="font-size: larger;font-weight: 700 ;">Atividades</label>
                            <label (click)="this.rota.navigate(['listar_chamadas'])" class="adicionar"
                                style="font-size: larger;font-weight: 700 ;">Chamadas</label>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="font-weight: 700 ;" scope="col">Id</th>
                                <th style="font-weight: 700 ;" scope="col">Nome Aluno</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let disciplina of listaDisciplinas">

                                <th scope="row">{{disciplina.id}}</th>
                                <td>{{disciplina.nomeDisciplina}}</td>
                                <td class="editar">Nota</td>
                                <td class="editar">Ocorrencia</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>