<div class="form-body">
  <div class="row">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <div class="cancelar form-button mb-4 d-flex ">
            <button id="submit" (click)="this.rota.navigate(['detalhe_disciplinas/'+this.idDisciplina])" class="btn btn-primary">Voltar</button>
          </div>
          <div class="d-flex flex-row">
            <label style="font-size: xx-large;font-weight: 700 ;">Atividades Disciplina</label>
            <div class="ml-auto p-2">
              <label (click)="ModalAtividade.toggle()" class="adicionar"
                style="font-size: larger;font-weight: 700 ;">Adicionar</label>
            </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th style="font-weight: 700 ;" scope="col">Id</th>
                <th style="font-weight: 700 ;" scope="col">Titulo Atividade</th>
                <th style="font-weight: 700 ;" scope="col">Prazo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let atividade of listaAtividades">

                <th scope="row">{{atividade.id}}</th>
                <td>{{atividade.tituloAtividade}}</td>
                <td>{{atividade.dataAtividade}}</td>
                <!-- <td class="editar">Ocorrencia</td> -->

              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<app-modal #ModalAtividade>


  <div id="termosDeUso" taria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center w-100">Cadastrar Atividade</h5>


        </div>
        <form (submit)="this.submit($event)">
            <div class="modal-body text-justify d-flex justify-content-center">
              <input class="modal-body form-control" type="text" name="nome" placeholder="Título da Atividade: " required>
            </div>
    
            <!-- <div class="modal-body text-justify d-flex justify-content-center">
              <select class="form-select mt-3" required>
                <option selected disabled value="">Selecione a Disciplina: </option>
                <option value="1">Nome da Disciplina</option>
              </select>
            </div> -->
    
            <div class="col-md-12">
              <h5 class="modal-title w-100">Prazo de Entrega: </h5>
              <input class="modal-body form-control" type="date" name="nome" placeholder="Data de Entrega: " required>
            </div>
    
    
            <div class="modal-footer mt-4">
              <button type="submit" class="btnModal btn-secondary" data-dismiss="modal">Registrar</button>
    
            </div>
        </form>
      </div>
    </div>
  </div>
</app-modal>
