<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">

    <div class="card-body">

      <div class="form-group">
        <div class="inicio text-center">
          <img src="../../assets/img/aluno.jpg" class="img-fluid rounded-circle" alt="Foto usuário">
        </div>

        <div class="row d-flex justify-content-center">
          <div class="col-md-6 d-flex justify-content-center">
            <div class="d-flex align-items-center flex-column mb-2">

              <h6 class="text-center">RGM</h6>

              <h6 class="text-center">{{user.userValue?.nome}}</h6>
              <h6 class="text-center">Telefone</h6>
              <h6 class="text-center">Curso</h6>
              <h6 class="text-center">Turma</h6>
              <h6 class="text-center">Período</h6>
              <h6 class="text-center">Campus</h6>

            </div>
          </div>
        </div>
      </div>


      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-success">Editar</button>
      </div>
    </div>

  </nav>

  <!-- Page Content  -->
  <div id="content">

    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    </nav> -->
    <div class="row d-flex">
        <div class="col-md-6">
          <div class="card border-0">
            <div class="card-body">


              <div class="col-md-12">
                <h4 class="card-title mt-4">Ocorrencias</h4>

                <!-- <button *ngIf='authService.adm()' class="text-info mr-3" href="">Editar</button>
                <button *ngIf='authService.adm()' class="text-danger" href="">Apagar</button> -->

              </div>
            </div>
          </div>

          <div class="card border-0">
            <div class="card-body">


              <div class="col-md-12">
                <h4 class="card-title mt-4">Multas</h4>

                <!-- <button *ngIf='authService.adm()' class="text-info mr-3" href="">Editar</button>
                <button *ngIf='authService.adm()' class="text-danger" href="">Apagar</button> -->

              </div>
            </div>
          </div>

        </div>
      </div>


  </div>
</div>
