<body>

  <div id="aluno-section">
    <div id="img-container">
      <img src="../../assets/aluno.jpg" alt="Imagem de perfil">
    </div>
    <div id="text-container">
      <h1>Nome Sobrenome</h1>
      <p>RGM: 12345678</p>
      <p>E-mail: aluno@aluno.com</p>
      <p>Telefone: (11) 12345-6789</p>
      <p>Curso: Tecnico em Informática</p>
      <p>Turma: 3B</p>
      <p>Período: Noturno</p>
      <p>CEP: 00000-000</p>
      <p>Endereço: Rua Cruzeiro do Sul, 10.</p>

      <p style="padding-top: 10px; padding-bottom: 10px;">
        <a href="#">EDITAR</a>
      </p>
      <!-- <div>
        <button class="logout" (click)="this.logout()">
          <label>SAIR</label>
        </button>
      </div> -->
      <p (click)="this.logout()" style="padding-top: 10px; padding-bottom: 10px;">
        <a>Sair</a>
      </p>

      <p style="margin-top: 10px;padding-top: 10px; padding-bottom: 10px;">
        <a href="/matricula">Matricula</a>
      </p>

      <p style="padding-top: 10px; padding-bottom: 10px;">
        <a href="/cadastros">Cadastro</a>
      </p>

      <p style="padding-top: 10px; padding-bottom: 10px;">
        <a href="/cadastroUE">Cadastro_UE</a>
      </p>

    </div>
  </div>

  <div id="financeiro-section">
    <div class="financeiro">
      <h2 class="destaque">Financeiro</h2>
      <div>
        <button class="visualizar" (click)="this.rota.navigate(['vizualizarBoletos'])">
          <label>Visualizar</label>
        </button>
      </div>

    </div>

    <div class="ocorrencias">
      <h2>ocorrências</h2>
      <hr>
    </div>

    <div class="multas">
      <h2>multas</h2>
      <hr>
    </div>
  </div>
</body>
